ipython==8.4.0
shell==1.0.1
django-extensions==3.2.0
Django==4.0.6
flake8==4.0.1
flake8-builtins==1.5.3
flake8-django==1.1.2
flake8-import-order==0.18.1
flake8-print==5.0.0
Faker==13.15.1
django-debug-toolbar==3.5.0
